Source: desktop-base
Section: x11
Priority: optional
Maintainer: Gustavo Franco <stratus@debian.org>
Uploaders: Loïc Minier <lool@dooz.org>,
           Fathi Boudra <fabo@debian.org>,
           Yves-Alexis Perez <corsac@debian.org>
Build-Depends: cdbs, debhelper (>= 6)
Standards-Version: 3.8.0
Homepage: http://www.debian.org/devel/debian-desktop
Vcs-Git: svn://svn.debian.org/debian-desktop/packages/trunk/desktop-base
Vcs-Browser: http://svn.debian.org/wsvn/debian-desktop/packages/trunk/desktop-base

Package: desktop-base
Architecture: all
Depends: librsvg2-common, canaima-escritorio-gnome (>=3.0+0)
Suggests: gnome | kde | xfce4 | wmaker
Description: common files for the Debian Desktop
 This package contains various miscellaneous files which are used by
 Debian Desktop installations.  Currently, it provides some
 Debian-related artwork and themes, .desktop files containing links to
 Debian related material (suitable for placement on a user's desktop),
 and other common files between the available desktop environments
 such as GNOME and KDE.
