[KSplash Theme: debian-moreblue-default]
Name = Debian MoreBlue (Default)
Description = Debian MoreBlue KSplash Theme using Default engine, based on Debian MoreBlue artwork by Andre L. R. Ferreira
Version = 1.0
Author = Fathi Boudra, based on Debian MoreBlue artwork by Andre L. R. Ferreira
Homepage = http://www.debian.org
Engine = Default

Icons Flashing = true
Always Show Progress = false
Label Foreground = #ffffff
